@model KhachSan.Models.DB.tbl_user_level

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h3>Chức Vụ</h3>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chức Vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
            @Html.ActionLink("Trở Lại", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
