@model KhachSan.Models.DB.tbl_user_level

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h3>Chức Vụ</h3>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chức Vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.user_level_id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Trở Lại", "Index", null, new { @class = "btn btn-info" })
</p>
